 @keyframes example {
   0% {
     opacity: 0;
   }

   50% {
     opacity: 1;
     color: white;
     text-shadow: 0 0 #000000;
   }

   100% {
     text-shadow: 2px 2px oklch(68% 0.19 39);
     color: oklch(87.1% 0.15 154.449);
   }
 }